<main>
  <div class="text-center mt-5 text-center col-12" id="top">
    <img
      id="casque"
      class="rounded img-fluid"
      src="Logo6.png"
      alt="casque gaullois"
    />
    <h1>Qui sommes-nous?</h1>
    <div id="presentation" class="text-center">
      <p class="text-center container-fluide">
        Bienvenue chez "Au Petit Village", une entreprise artisanale passionnée
        par l'univers intemporel d'Astérix et Obélix.<br />
        Situé au cœur d'une charmante bourgade, notre atelier confectionne des
        figurines uniques qui rendent hommage aux célèbres héros gaulois et à
        leurs aventures légendaires.<br />
        Si comme nous, vous êtes nostalgiques de votre enfance et désireux de
        revivre les péripéties d'Astérix, Obélix et leurs compagnons vous
        trouvezrez chez nous votre bonheur.<br />
        Chaque figurine est soigneusement réalisée à la main, capturant
        l'essence des personnages tout en ajoutant une touche de modernité.<br />
        Chez "Au Petit Village", nous croyons que la nostalgie peut se conjuguer
        avec l'innovation.<br />
        Nos créations sont idéales pour les collectionneurs, les passionnés de
        bande dessinée, ou simplement pour apporter une touche d'humour et de
        charme à votre intérieur.<br />
        Rejoignez-nous dans cette aventure et redécouvrez la magie de la bande
        dessinée à travers nos figurines !
      </p>
    </div>
  </div>
  <div id="contact">
    <h2>Vous souhaitez nous contacter?</h2>
  </div>
  <div class="container">
    <h1>Formulaire de contact</h1>
    <form>
      <label for="fname">Nom & prénom</label>
      <input
        type="text"
        id="fname"
        name="firstname"
        placeholder="Votre nom et prénom"
      />

      <label for="sujet">Sujet</label>
      <input
        type="text"
        id="sujet"
        name="sujet"
        placeholder="L'objet de votre message"
      />

      <label for="emailAddress">Email</label>
      <input
        id="emailAddress"
        type="email"
        name="email"
        placeholder="Votre email"
      />

      <label for="subject">Message</label>
      <textarea
        id="subject"
        name="subject"
        placeholder="Votre message"
        style="height: 200px"
      ></textarea>

      <input
        type="submit"
        value="Envoyer"
        onclick="alert('votre message est envoyé')"
      />
    </form>
  </div>
</main>
